html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: initial;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.greengrad {
    background: #76c733;
    height: 80px;
    width: 100%;
    margin-bottom: 14px;
}

.greengrad h1 {
    font: inherit;
    color: #fff;
    font-size: 1.4em;
}

.footer {
    width: 100%;
    background-color: #f7f7f7;
    min-height: 340px;
    padding-top: 24px;
    margin-top: 24px;
}

.white {
    color: #fff !important;
}

.quotes {
    font-size: 10px;
    margin-top: -12px;
}

.socialmedia {
    font-size: 26px;
}

.smallfont {
    font-size: 9px;
}

.footlink {
    color: #333;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    font-weight: 200;
}

.footlink:hover {
    color: #c03d20;
    text-decoration: none;
}

.iconpad {
    width: 20px;
    height: 12px;
    text-align: center;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.uk-nav-header {
    text-transform: lowercase !important;
}

.red {
    color: red;
}

.code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #000000;
    color: #fff;
    padding-left: 12px;
    margin-bottom: 32px;
    padding-bottom: 12px;
    text-align: left;
}

.greencode {
    color: #58c026;
}

pre:before {
    font-family: "Font Awesome 5 Free";
    content: "\f120";
    display: inline-block;
    padding-right: 12px;
    vertical-align: middle;
    font-weight: 900;
}

pre {
    padding-top: 18px;
    color: #fff;
    background-color: black;
    border: black;
}

.debug {
    background-color: #fd5949;
}

.instagram {
    object-fit: cover;
    width: 25vw;
    height: 25vw;
}

.instagram3 {
    object-fit: cover;
    width: 33vw;
    height: 26vw;
}

.instahalf {
    object-fit: cover;
    width: 50vw;
    height: 33vw;
}

table.rounded {
    border-radius: 4px !important;
    border-collapse: separate;
}

.table-header {
    color: #fff !important;
    width: 12.5%;
}

.appstores {
    width: 119px;
}

input.uppercase {
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

::placeholder {
    /* Recent browsers */
    text-transform: none;
}

input[required] {
    background-color: #fafafa;
    border: 1px solid #FF0000 !important;
    border-radius: 2px;
}

input:invalid {
    color: red;
}

input:valid {
    background-color: #CCFF99;
    border: 0px !important;
    /*color: #58c026;*/
}

.linkinarticle {
    color: #FF9900;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #mainlogo {
        width: 45px;
        height: 45px;
    }
    .cname {
        font-size: 24px;
        margin-left: -84px !important;
    }
    .ctag {
        font-size: 12px;
        margin-left: -84px !important;
        margin-top: -34px !important;
    }
    .socialmedia {
        font-size: 16px;
    }
    .iconpad {
        padding-right: 4px;
        width: 14px;
        height: 14px;
    }
    .footlink {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .socialmedia {
        font-size: 14px;
    }
    .footlink {
        font-size: 10px;
    }
}

.hamburger {
    display: none;
}

.nothamburger {
    display: block;
}

@media only screen and (max-width: 850px) {
    .hamburger {
        display: block;
    }
    .nothamburger {
        display: none;
    }
    .appstores {
        width: 80px;
        height: 24px;
    }
}