<html ng-app="ionicApp">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>

    <title>Tabs Example</title>    
	<link href="https://bird1217.github.io/OldVocabulary/css/ionic.min.css" rel="stylesheet" />
	<script src="https://bird1217.github.io/OldVocabulary/js/ionic.bundle.min.js"></script>    		
    <script src="app.js"></script>
    <script src="HomeTabCtrl.js"></script>    
  </head>

  <body>

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>
    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">        
        <ion-tab title="英英字典" icon="ion-document-text" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>        
      </ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="英英字典查詢">
        <ion-content class="padding">
          <ion-list>							
			<ion-checkbox ng-repeat="item in DictionarySelect" ng-model="item.checked" ng-checked="item.checked">
				{{ item.DisplayText }}
			</ion-checkbox>					
          </ion-list>
          		  		
            <div class="card">             
			  <div class="list">                								
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" style="font-size: 20px;" placeholder="請輸入查詢內容" id="txtEnglish2" value="{{Model.txtEnglish}}" ng-model="Model.txtEnglish" select-on-click ng-keypress="keyPressed($event)" />									
				</label>
              </div>
            </div>
	    
            <div class="list">
              <div class="item item-divider" style="color:red">
                <button class="button button-positive button-medium icon-right ion-chevron-right" ng-click="SearchDictionary()">
                  查詢{{txtEnglish}}
                </button>				
				<button class="button button-positive button-medium icon-right ion-chevron-right" ng-click="ClearHistory()">
                  清除歷史紀錄
                </button>			
				[20170710]加入Google圖片查詢
              </div>
            </div>
          
		  
			<div class="list">
				<div class="item item-divider">
				  查詢歷史紀錄 <span style="color:red;">[點選做重複查詢 只保留10筆]</span>
				</div>
				<div ng-repeat="history in DictionaryHistory">				
					<a class="item" ng-click="SearchHistory(history);" ng-if="$index < 10">
					  單字:<span style="color:red;font-size:20px;">{{history["Text"]}}</span>
					  <br/>
					  時間:{{history["Time"] | date:'HH:mm:ss'}}
					</a>
				</div>
		    </div>
        </ion-content>
      </ion-view>
    </script>    
  </body>
</html>
