<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="ionic.min.css" rel="stylesheet">
    <script src="ionic.bundle.min.js"></script>
	<script src="app.js"></script>			
  </head>
    <body ng-app="starter">
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">肥宅</h1>
      </ion-header-bar>
      <ion-content>
      <div ng-controller="ClickToEditCtrl">
      <div ng-repeat="dictionary in title2">
       		<ion-checkbox ng-model="showEnglish">顯示正解英文</ion-checkbox>
	      <div  class="card">
			  <div class="item item-divider">
			    <span ng-show="showEnglish">正確答案是&nbsp{{dictionary.eg}}</span>
			    <span ng-show="dictionary.txtEnglish!='' &&dictionary.txtEnglish.toUpperCase() != dictionary.eg.toUpperCase()" style="color:red">錯誤</span>
		      	<span ng-show="dictionary.txtEnglish.toUpperCase()==dictionary.eg.toUpperCase()" style="color:blue">正確</span>
			  </div>
			  	<div class="item item-text-wrap">
			    	{{dictionary.ch}}
			   	</div>
				<div class="item item-divider">
					<button class="button  button-positive button-small icon-right ion-chevron-right" ng-disabled="finishFlag" ng-click="nextDictionary()">
					下一個單字
					</button>
				</div>
		  </div>
	      	<div class="list">
			  <label class="item item-input">
			    <input type="text" placeholder="你的答案是？" id="txtEnglish" ng-model="dictionary.txtEnglish">
			  </label>
			</div>
		</div>
      </ion-content>
    </ion-pane>
  </body>
</html>
