<html ng-app="ionicApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Toggles</title>
    <link href="http://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <link href="ionic-datepicker.styles.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="http://rajeshwarpatlolla.github.io/DatePickerForIonicFramework/demo/lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    


    <script>
    angular.module('ionicApp', ['ionic','ionic-datepicker'])

.controller('MainCtrl', function($scope,ionicDatePicker) {

  $scope.selectedDate1=new Date();

  var ipObj1 = {
      callback: function (val) {  //Mandatory		
		var selectDate = new Date(val);				
		$scope.activityModel["InvoiceDate"] = selectDate;		
      },
      disabledDates: [            //Optional
        
      ],
      from: new Date(2012, 1, 1), //Optional
      //to: new Date(2016, 10, 30), //Optional
      inputDate: $scope.selectedDate1,      //Optional
      mondayFirst: true,          //Optional
      //disableWeekdays: [0],       //Optional
      closeOnSelect: true,       //Optional
      templateType: 'popup',       //Optional
	  dateFormat: 'yyyy/MM/dd',
      
      todayLabel: 'Today',
      titleLabel:'購買日期'      

    };

    $scope.openDatePicker = function(){
      var currentDate=$scope.activityModel["InvoiceDate"];
	  //ipObj1["titleLabel"]='購買日期';
	  ipObj1["inputDate"]=currentDate;
	  
	  ionicDatePicker.openDatePicker(ipObj1);
    };
  
  $scope.settingsList = [
    { text: "個資聲明", checked: true }
  ];

  $scope.activityModel = {
            "Name": ""
            , "Telephone": ""
            , "Email": ""
            , "ProductType": ""
            , "ProductSerial": ""
            , "InvoiceDate": new Date()
            , "Location": ""
            , "Aggremant": false    
        };
});
    </script>
</head>

<body ng-controller="MainCtrl">

    <ion-header-bar class="bar-positive">
        <h1 class="title">DLINK 抽獎活動</h1>
    </ion-header-bar>


    <div class="list">

        <label class="item item-input">
              <span class="input-label">姓名</span>
              <input type="text" ng-model="activityModel.Name">
            </label>

        <label class="item item-input">
              <span class="input-label">電話</span>
              <input type="text" ng-model="activityModel.Telephone">
            </label>

        <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" ng-model="activityModel.Email">
            </label>

        <label class="item item-input">
              <span class="input-label">產品型號</span>
              <input type="text" ng-model="activityModel.ProductType">
            </label>

        <label class="item item-input">
              <span class="input-label">產品序號</span>
              <input type="text" ng-model="activityModel.Location">
            </label>


        <label class="item item-input">
              <span class="input-label">購買地點</span>
              <input type="text" ng-model="activityModel.ProductSerial">
            </label>

        <div class="list">
            <a class="item item-icon-right" ng-click="openDatePicker()">
            購買日期
            <i class="icon ion-calendar"></i>{{ activityModel.InvoiceDate | date :  "yyyy/MM/dd" }}            
            </a>
        </div>

        <ion-toggle ng-repeat="item in settingsList" ng-model="item.checked" ng-checked="item.checked">
            {{ item.text }}
        </ion-toggle>

        <label class="item item-input">
              <span class="input-label">購買地點</span>
              <input type="file" ng-model="activityModel.ProductSerial">
            </label>


        </ion-content>

</body>

</html>