<html ng-app="ionicApp">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />

    <style>
        .has-errors {
            border-left: 3px solid #cc2511;
            border-right: 3px solid #cc2511;
        }
        
        .no-errors {
            border-left: 3px solid #3d8b3d;
            border-right: 3px solid #3d8b3d;
        }
    </style>
    <title>Toggles</title>
    <link href="https://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet" />
    <link href="ionic-datepicker.styles.css" rel="stylesheet" />


    <script src="https://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <!--<script src="http://www.runoob.com/static/ionic/js/ionic.bundle.min.js"></script>-->
    <script src="https://rajeshwarpatlolla.github.io/DatePickerForIonicFramework/demo/lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>   


    <script>
      angular.module('ionicApp', ['ionic','ionic-datepicker'])

      .controller('MainCtrl', function($scope,ionicDatePicker) {

      $scope.selectedDate1=new Date();

      var ipObj1 = {
      callback: function (val) {  //Mandatory
      var selectDate = new Date(val);
      $scope.activityModel["InvoiceDate"] = selectDate;
      },
      disabledDates: [            //Optional

      ],
      from: new Date(2012, 1, 1), //Optional
      //to: new Date(2016, 10, 30), //Optional
      inputDate: $scope.selectedDate1,      //Optional
      mondayFirst: true,          //Optional
      //disableWeekdays: [0],       //Optional
      closeOnSelect: false,       //Optional
      templateType: 'popup',       //Optional
      dateFormat: 'yyyy/MM/dd',

      todayLabel: 'Today',
      titleLabel:'購買日期'

      };

      $scope.openDatePicker = function(){
      var currentDate=$scope.activityModel["InvoiceDate"];



      //ipObj1["titleLabel"]='購買日期';
      if(currentDate!=null)
      {
        ipObj1["inputDate"]=currentDate;
      }
      else
      {
          ipObj1["inputDate"]=new Date();
      }
      ionicDatePicker.openDatePicker(ipObj1);
      };


$scope.setFiles = function(element) {
    $scope.$apply(function(scope) {
      console.log('files:', element.files);
      // Turn the FileList object into an Array
        $scope.fileData = []
        for (var i = 0; i < element.files.length; i++) {
          $scope.fileData.push(element.files[i])
        }      
      });
    };


 //  alert（警告） 对话框
        
      
      $scope.fileData=[];
      
      $scope.activityModel = {
      "Name": ""
      , "Telephone": ""
      , "Email": ""
      , "ProductType": ""
      , "ProductSerial": ""
      , "InvoiceDate": null
      , "Location": ""
      , "Aggremant": false
      };
      });
    </script>
</head>

<body ng-controller="MainCtrl">
    <form name="testForm" novalidate>
        <ion-header-bar class="bar-positive">
            <h1 class="title">D-Link 抽獎活動</h1>
        </ion-header-bar>

        <ion-content>
            <label class="item item-input item-stacked-label">
          <span  class="input-label">
              <span style="color:red">*</span>
              姓名</span>
          <span ng-show="testForm.Name.$touched && testForm.Name.$invalid" style="color:red;" class="input-label">
              [姓名] 不可為空 (長度限制30)
          </span>  
          <input type="text" name="Name" placeholder="John" ng-model="activityModel.Name" ng-required="true" ng-maxlength="30" />
        </label>
            <label class="item item-input item-stacked-label">
          <span class="input-label">電話</span>
          <input type="text" placeholder="09xx-xxx-xxx" ng-model="activityModel.Telephone"/>
        </label>
            <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john@suhr.com" ng-model="activityModel.Email"/>
        </label>
            <label class="item item-input item-stacked-label">
          <span class="input-label"><span style="color:red">*</span>產品型號</span>
          <span ng-show="testForm.ProductType.$touched && testForm.ProductType.$invalid" style="color:red;">
              [產品型號] 不可為空 (長度限制30)
          </span>
          <input type="text" placeholder="xxxx-xxxx-xxxx-xxxx" name="ProductType" ng-model="activityModel.ProductType" ng-required="true" ng-maxlength="30" />
        </label>
            <label class="item item-input item-stacked-label">
          <span class="input-label"><span style="color:red">*</span>產品序號</span>
          <span ng-show="testForm.ProductSerial.$touched && testForm.ProductSerial.$invalid" style="color:red;">
              [產品序號] 不可為空 (長度限制30)
          </span>
          <input type="text" placeholder="D-Link Wifi" name="ProductSerial"  ng-model="activityModel.ProductSerial" ng-required="true" ng-maxlength="30" />
        </label>
            <label class="item item-input item-stacked-label">
          <span class="input-label">購買地點</span>
          <input type="text" placeholder="購買商家" ng-model="activityModel.Location"/>
        </label>


            <label class="item item-input item-stacked-label">
          <span class="input-label"><span style="color:red">*</span>發票上傳</span>
          <!--<input type="file" ng-model="fileData"/>-->

		  <!--
          <input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)" />
		  -->
        </label>


            <div class="list">
                <a class="item item-icon-right" ng-click="openDatePicker()">
                    <span style="color:red">*</span>購買日期
                    <i class="icon ion-calendar"></i>{{ activityModel.InvoiceDate | date : "yyyy/MM/dd" }}
                </a>
            </div>

            <div class="list">
<ul class="list">        
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="activityModel.Aggremant">
           </label>
           個資聲明
        </li>
      </ul>                
                <!--|| testForm.$invalid ng-click="showAlert()"-->
                <button class="button button-full button-positive" ng-disabled="!activityModel.Aggremant || testForm.$invalid" >
            參加抽獎            
          </button>
            </div>
        </ion-content>

    </form>
</body>

</html>