<ion-view view-title="分機查詢">

  <div class="list">

    <div class="item item-divider">
      請選取查詢條件
    </div>

    <div class="item item-divider">
      請選取查詢條件
    </div>
    <ion-list>
      <ion-radio ng-model="choice" ng-value="'A'">工號</ion-radio>
      <ion-radio ng-model="choice" ng-value="'B'">中文姓名</ion-radio>
      <ion-radio ng-model="choice" ng-value="'C'">英文姓名</ion-radio>
    </ion-list>
    <div>


      <label class="item item-input">
              <input type="text" placeholder="請輸入查詢條件">
            </label>



      <button class="button button-full button-positive">
  查詢
</button>

</ion-view>
