<ion-view view-title="主選單">
  <ion-content padding="true">
    [主選單]

    <div class="list">

      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-chatbox-working"></i> 生活討論區
      </a>


      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-chatbox-working"></i> 公務佈告欄
      </a>

      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-email"></i> 部門請假
      </a>

      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-email"></i> 待辦事項
        <span class="badge badge-assertive">10</span>

      </a>

      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-email"></i> 分機表查詢
      </a>

      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-email"></i> 各部文件
      </a>

      <a class="item item-icon-left" href="#/tab/facts">
        <i class="icon ion-email"></i> iSMS
      </a>

      <a class="item item-icon-left" href="#/facts">
        <i class="icon ion-email"></i> 請假加班
      </a>

    </div>
  </ion-content>
</ion-view>
