<html ng-app="ionicApp">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>

    <title>Tabs Example</title>
    
    <link href="https://code.ionicframework.com/1.3.3/css/ionic.min.css" rel="stylesheet" />
    <script src="https://code.ionicframework.com/1.3.3/js/ionic.bundle.min.js"></script>	
    <script src="app.js"></script>

    <script src="HomeTabCtrl.js"></script>    
  </head>

  <body>

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>


    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">
        
        <ion-tab title="古英文" icon="ion-document-text" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
        
      </ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="古英文">
        <ion-content class="padding">
          <ion-list>
            <ion-radio name="rdo1" ng-model="displaySetting" ng-value="'eg,ch'">中文+英文</ion-radio>
            <ion-radio name="rdo1" ng-model="displaySetting" ng-value="'ch'">中文</ion-radio>
            <ion-radio name="rdo1" ng-model="displaySetting" ng-value="'eg'">英文</ion-radio>
            <ion-radio name="rdo1" ng-model="displaySetting" ng-value="'ch2'">測驗模式</ion-radio>
          </ion-list>
          <div ng-repeat="dictionary in vocabulary2">
            <div class="card">
              <div class="item item-divider" style="color:red">
                尚餘單字數量:{{$parent.vocabulary.length-$parent.chooseIndex.length}}
              </div>
              <div class="item item-divider" style="color:red">
                單字序號:{{dictionary.number}}
              </div>
              <div class="list">

                <label class="item item-input item-stacked-label" ng-show="$parent.displaySetting.indexOf('ch')>-1">
                  <span class="input-label">
                    <span>
                      中文答案是&nbsp
                      <span style="color:red;bold:true;">{{dictionary.ch}}</span>
                    </span>
                  </span>
                </label>
                <label class="item item-input item-stacked-label" ng-show="$parent.displaySetting.indexOf('eg')>-1">
                  <span class="input-label">
                    <span>
                      英文答案是&nbsp
                      <span style="color:red;bold:true;">{{dictionary.eg}}</span>
                    </span>
                  </span>
                </label>
                <div class="item item-divider" style="color:red">
                  <button class="button  button-positive button-small icon-right ion-chevron-right" ng-disabled="finishFlag" ng-click="nextDictionary()">
                    下一個單字
                  </button>
                </div>
              </div>

              <div class="list" ng-show="$parent.displaySetting.indexOf('ch2')>-1">
                <label class="item item-input">
                  <input type="text" placeholder="你的答案是？" id="txtEnglish" ng-model="dictionary.txtEnglish">
			  </label>
                <label class="item item-input" ng-show="(dictionary.txtEnglish!='' && dictionary.txtEnglish.toUpperCase() != dictionary.eg.toUpperCase()) || dictionary.txtEnglish.toUpperCase()==dictionary.eg.toUpperCase()">
                  <span ng-show="dictionary.txtEnglish!='' && dictionary.txtEnglish.toUpperCase() != dictionary.eg.toUpperCase()" style="color:red">錯誤</span>
                  <span ng-show="dictionary.txtEnglish.toUpperCase()==dictionary.eg.toUpperCase()" style="color:blue">正確</span>
                </label>
              </div>
            </div>
          </div>

        </ion-content>
      </ion-view>
    </script>    
  </body>
</html>
