body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 250px;
    white-space: nowrap;
}

.ui-datepicker-title {
    white-space: nowrap;
}

.rwd-table th {
    display: none;
 }

.rwd-table td {
    display: block;
 }

.rwd-table td:before {
    content: attr(data-th);
    font-weight: bold;
    /*width: 6.5em;*/
    display: inline-block;
 }

.rwd-table th, .rwd-table td {
    text-align: left;
 }

.rwd-table th, .rwd-table td:before {
    /*color: #D20B2A;*/
    /*font-weight: bold;*/
 }

@media (min-width: 480px) {

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 0;
        }

        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 0;
        }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}